<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div class='row'>
	<div class='span6 offset3 '>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object  %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.text_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
		    <%= f.password_field :password_confirmation %>

            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>