<div class='row'>
    <div class='span12'>
        <span class="content"><h3><%= @micropost.content %></h3></span>
        <span class="timestamp">
         Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
        
        <% if current_user?(@micropost.user) %>
         <%= link_to "delete", @micropost, method: :delete,
                                          data: { confirm: "You sure?" },
                                          title: @micropost.content %>
        <% end %>
        </span>
        <% if @micropost.comments.any? %>
          <h5>Comments (<%= @micropost.comments.count %>)</h5>
          <ol class="comments">
            <%= render @comments %>
          </ol>
          <%= will_paginate @comments %>
        <% end %>
    
        <% if @can_comment %>
            <%= form_for(@comment) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <%= hidden_field_tag(:micropost, @micropost.id) %>
              <div class="field">
                <%= f.text_area :content, placeholder: "Comment..." %>
              </div>
              <%= f.submit "Post", class: "btn btn-primary pull-right" %>
            <% end %>
        <% end %>
    </div>
</div>

